import /init.gee.rc
import /init.gee_g.rc
import /init.lge.rc

on init
    # Set permissions for persist partition
    mkdir /persist 0771 system system

on boot-pause
    exec system/bin/battery_charging

on emmc-carrier
    wait /dev/block/platform/msm_sdcc.1/by-name/carrier
    exec /sbin/setup_fs \
         /dev/block/platform/msm_sdcc.1/by-name/carrier \
         no_reboot
# LGE_CHANGE_S, 20120702, byungsung.cho@lge.com, APN Back Up
    mkdir /persist-lg/LGE_RC 0770 system system
    chown system system /persist-lg/LGE_RC
    chmod 0770 /persist-lg/LGE_RC
 # LGE_CHANGE_E, 20120702, byungsung.cho@lge.com, APN Back Up
 
 on emmc-afterfmt
    mkdir /carrier 0771 system lg_fota
    wait /dev/block/platform/msm_sdcc.1/by-name/carrier
    exec /system/bin/e2fsck -y /dev/block/platform/msm_sdcc.1/by-name/carrier
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/carrier /carrier nosuid nodev barrier=1 data=ordered nodelalloc
	chmod 0771 /carrier
	chown system lg_fota /carrier
    
on boot
    chmod 0660 /dev/ttyGS0
    chown system system /dev/ttyGS0

# LGE_CHANGE_S, 20120613, hojin.ryu@lge.com,Set the status of backlight brightness when boot
#brightness properties 
	setprop ro.lge.lcd_default_brightness 202
	setprop ro.lge.lcd_auto_brightness_mode true
# LGE_CHANGE_E, 20120613, hojin.ryu@lge.com,Set the status of backlight brightness when boot
    
# NFC Feature
   chmod 0600 /dev/pn544
   chown nfc nfc /dev/pn544
#   kyungsu.mok@lge change to for LS840 value 
# ReadMin, ReadInitial, ReadMax, WriteMin, WriteInitial, WriteMax,
    setprop net.tcp.buffersize.lte     4094,110208,1220608,4096,87380,1220608
    setprop net.tcp.buffersize.ehrpd     4094,87380,262144,4096,16384,262144
# LGE_CHANGE_S, [LGE_DATA][Disable_Partial_Retry], jongwan84.kim@lge.com, 2012-12-11
	setprop persist.qcril.disable_retry true
# LGE_CHANGE_E, [LGE_DATA][Disable_Partial_Retry], jongwan84.kim@lge.com, 2012-12-11

# LGE_CHANGE_S [WiFi][hyunseong.lee@lge.com] 2012-11-09, KT CM Porting
    mkdir /data/misc/wifi/kaf 0775 system wifi
    chown wifi system /data/misc/wifi/kaf/wifi.db
    chmod 0777 /data/misc/wifi/kaf/wifi.db
        mkdir /data/bin 0775 system system
        mkdir /data/lib 0775 system system
# LGE_CHANGE_S, 20111118, smorke@lge.com, SMPL counter
#service smpl_count /system/bin/smpl_count
#	oneshot
# LGE_CHANGE_E, 20111118, smorke@lge.com

service broadcast /system/bin/libbroadcast_server
    class main
    user media
    group system audio media graphics sdcard_rw
#  onrestart restart media

#  onrestart restart media
service qcamerasvr /system/bin/mm-qcamera-daemon
    class late_start
    user camera
    group camera system inet input
	
	#start GNSS/Sensor interface daemon
service gsiff_daemon /system/bin/gsiff_daemon
    class late_start
    user system
    group gps qcom_oncrpc net_raw

	